<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} 작품</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <h1>{{ name }} 작품 갤러리</h1>
</header>

<div class="container">

    <h2>작품 1</h2>
    <img src="/static/artworks/{{ name }}/art1.jpg" style="width: 200px;">

    <h2>작품 2</h2>
    <img src="/static/artworks/{{ name }}/art2.jpg" style="width: 200px;">

    <br><br>
    <a href="/" style="font-weight:bold;">← 메인으로 돌아가기</a>
</div>

</body>
</html>

